:root {
    --main-project-bg: #0A192E;
}

.project_container {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    user-select: none;
    padding: 2rem 4rem 5rem 4rem;
    position: relative;
}

.project_container .sideBar {
    height: full;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 5.1rem;
}

.project_container .project_section {
    height: 100%;
    width: 80%;
}

.project_container .project_section .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project_container .project_section .search_mobile {
    display: none;
}

.project_container .project_section .search_mobile .levels {
    width: 40%;
}
.project_container .project_section .search_mobile .categories {
    width: 57%;
}

.project_container .project_section .navbar input[type="search"] {
    height: 80%;
    padding: 0px 5%;
    font-size: 15px;
    width: 15vmax;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
    outline: none;
}

.project_container .project_section .navbar .search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    height: 45px;
}

.project_container .project_section .project_content {
    height: calc(100% - 5rem);
    width: 100%;
    padding: 2rem 0;
}

.project_container .project_section p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


/* ********************************************media query*********************************** */
@media (max-width:1470px) {
    .project_container .sideBar {
        width: 30%;
    }

    .project_container .project_section {
        width: 70%;
    }
}

@media (max-width:880px) {
    .project_container .sideBar_pc {
        display: none;
    }

    .project_container .project_section {
        width: 75%;
    }

    .project_container {
        padding: 2rem 15px 5rem 15px;
    }

    .project_container .project_section .search_pc {
        display: none;
    }

    .project_container .project_section .search_mobile {
        display: flex;
    }
}

@media (max-width:500px) {
    .project_container .project_section {
        width: 100%;
    }
}