:root {
    --main-project-bg: #0A192E;
}

#Project {
    padding: 2rem 5rem;
}

#Project .pageWrapper {
    width: 100%;
    max-width: 110rem;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    user-select: none;
    position: relative;
}

#Project .pageWrapper .sideBar {
    height: full;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 5.1rem;
}

#Project .pageWrapper .project_section {
    height: 100%;
    width: 80%;
}

#Project .pageWrapper .project_section .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Project .pageWrapper .project_section .search_pc p:first-child {
    width: 160px;
}

#Project .pageWrapper .project_section .search_mobile {
    display: none;
}

#Project .pageWrapper .project_section .navbar input[type="search"] {
    height: 80%;
    padding: 0px 5%;
    font-size: 15px;
    width: 15vmax;
    border-radius: 10px;
    outline: none;
}

#Project .pageWrapper .project_section .navbar .search {
    height: 45px;
}

#Project .pageWrapper .project_section .project_content {
    height: calc(100% - 5rem);
    width: 100%;
    padding: 2rem 0;
}

#Project .pageWrapper .project_section p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


/* ********************************************media query*********************************** */
@media (max-width:1470px) {
    #Project .pageWrapper .sideBar {
        width: 30%;
    }

    #Project .pageWrapper .project_section {
        width: 70%;
    }
}

@media (max-width:880px) {
    #Project .pageWrapper {
        overflow: visible;
        padding-top: 5rem;
    }

    #Project .pageWrapper .badge {
        top: 1rem;
        left: 12.5%;
    }

    #Project .pageWrapper .sideBar_pc {
        display: none;
    }

    #Project .pageWrapper .project_section {
        width: 75%;
    }

    #Project .pageWrapper .project_section .search_pc {
        display: none;
    }

    #Project .pageWrapper .project_section .search_mobile {
        display: flex;
    }

    #Project .pageWrapper .project_section .search_mobile .search {
        width: 57%;
    }

    #Project .pageWrapper .project_section .search_mobile .search input[type="search"] {
        width: 100%;
    }

    #Project .pageWrapper .project_section .search_mobile .total_results {
        width: 40%;
        border-radius: 10px;
        padding: 4px 0;
        border: 1px solid white;
    }
}

@media (max-width:700px) {
    #Project {
        padding: 2rem 2vmax;
    }

    #Project .pageWrapper .badge {
        left: 0;
    }

    #Project .pageWrapper .project_section {
        width: 100%;
    }
}