:root {
    --contact-primary-bg-color: #424242;
    --contact-secondary-bg-color: #262626;
}

.contact_container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.contact_container .personal_details h1 {
    font-size: 50px;
    align-self: flex-start;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.contact_container .wrapper {
    height: 85%;
    width: 90%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    background-color: #2A2833;
    position: relative;
}

.contact_container .wrapper .personal_details {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}

.contact_container .wrapper .icons {
    width: 100%;
    display: flex;
    padding-left: 10px;
    margin-top: 2rem;
}

.contact_container .wrapper .personal_details .single_detail_logo {
    background-color: #363636;
    font-size: 32px;
    padding: 6px;
    border-radius: 50%;
}

.contact_container .wrapper .line {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 3px;
    background-color: black;
}

.contact_container .wrapper .form {
    width: 30%;
}


/* ***************************************media query************************ */
@media (max-width:1440px) {
    .contact_container {
        height: auto;
        padding-bottom: 2rem;
    }

    .contact_container .wrapper {
        padding: 3rem 0;
    }

    .contact_container .wrapper .line {
        position: relative;
        height: 3px;
        width: 90%;
        transform: translate(-55%);
        background-color: gray;
    }

    .contact_container .wrapper {
        flex-direction: column;
        gap: 4rem;
    }

    .contact_container .wrapper .personal_details {
        width: 70%;
    }

    .contact_container .personal_details h1 {
        font-size: 40px;
    }

    .contact_container .wrapper .form {
        width: 70%;
    }
}

@media (max-width:500px) {
    .contact_container .wrapper {
        padding: 2rem 0;
        width: 95%;
    }

    .contact_container .wrapper .personal_details {
        width: 90%;
    }

    .contact_container .personal_details h1 {
        font-size: 30px;
    }

    .contact_container .wrapper .form {
        width: 90%;
    }
}