.single_project_container {
    padding: 4rem 9rem;
    background-color: #0A192F;
    color: white;
    min-height: 100vh;
    width: 100%;
}

.single_project_container h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0px;
    font-family: gilroy;
}

.single_project_container .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.single_project_container .content .image {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single_project_container .content .image .redirect {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-size: 22px;
}

.single_project_container .content .image .redirect a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #57D3BC;
}

.single_project_container .content img {
    width: 100%;
    box-shadow: 5px 5px 25px 10px black;
}

.single_project_container .content .text {
    width: 40%;
    text-align: right;
    padding-left: 5rem;
    /* background-color: red; */
}

.single_project_container .content .text p:first-child {
    font-size: 20px;
    font-weight: 700;
}

.single_project_container .content .text p:nth-child(2) {
    font-size: 40px;
}

.single_project_container .content .text .overflow_card {
    font-size: 20px;
    text-align: justify;
}

.single_project_container .content .text .overflow_card p {
    text-align: left;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    transform: translateX(-50%);
    background-color: #11233F;
    box-shadow: 3px 5px 25px black;
    margin: 20px 0px;
    /* background-color: green; */
}

.single_project_container .content .text .skills_list {
    text-align: left;
    font-size: 20px;
}

.single_project_container .content .text .skills_list p {
    font-size: 20px;
    line-height: 10px;
    margin-top: 20px;
}