.nav_container {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000 !important;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, scale 0.3s ease-in-out;
    user-select: none;
}

.nav_container .brand {
    width: 80px;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    transition: all linear .4s;
}

.nav_container .routes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    transition: all linear 0.3s;
}

.nav_dustbin {
    position: fixed;
    width: 100px;
    top: 13rem;
    right: 5%;
    scale: 0;
    z-index: 99;
}

.nav_dustbin_zoom {
    animation-name: NavAnime;
    animation-duration: .6s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.nav_blast {
    position: fixed;
    width: 160px;
    top: 9rem;
    right: 2%;
    scale: 0;
    z-index: 100;
}

.nav_blast_zoom {
    animation-name: NavAnime;
    animation-duration: .6s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes NavAnime {
    0% {
        scale: 0;
    }

    20% {
        scale: 1;
    }

    70% {
        scale: 1;
    }

    100% {
        scale: 0;
    }

}

/* *******************************mobile menu******************************************* */
.nav_container .mobileMenu {
    font-size: 25px;
    cursor: pointer;
    display: none;
}

/* ********************************media query******************************************** */
@media (max-width:1190px) {
    .nav_container {
        padding: 0 4rem;
    }
}

@media (max-width:880px) {
    .nav_container .routes {
        width: 75vw;
        position: absolute;
        top: 6rem;
        left: 50%;
        transform: translate(-50%);
        flex-direction: column;
        gap: 0;
        border-radius: 30px;
        overflow: hidden;
        background: linear-gradient(to right, black, rgba(0, 0, 0, 0.521), black);
        /* background-color: #2a28339b; */
        box-shadow: 0 0 10px white;
    }

    .nav_container .routes_none {
        scale: 0;
    }

    .nav_container .routes .route {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        transition: all linear .3s;
    }

    .nav_container .routes .route:hover {
        width: 100%;
        background: rgba(255, 255, 255, 0.402);
    }

    .nav_container .contact {
        display: none;
    }

    .nav_container .brand {
        width: 55px;
    }

    .nav_container .mobileMenu {
        display: block;
    }
}

@media (max-width:650px) {
    .nav_container {
        padding: 0 2rem;
    }

    .nav_container .routes {
        width: 90vw;
    }

    .nav_blast {
        display: none;
    }

    .nav_dustbin {
        right: -4%;
    }
}