.recruiters-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.recruiters-form span {
    width: 100%;
}

.recruiters-form input {
    padding: 20px;
    height: 60px;
    width: 100%;
    border-radius: 10px;
}

.recruiters-form textarea {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}

.recruiters-form .btn-contact {
    border: 2px solid lightseagreen;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    position: relative;
}

.recruiters-form .btn-contact::after {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(32, 178, 171, 0.342);
}

.recruiters-form .btn-contact:hover::after {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.recruiters-form .btn-contact:active::after {
    background-color: transparent;
}

/* ******************media query**************** */
@media (max-width:500px) {
    .recruiters-form input {
        background-color: #262626;
    }

    .recruiters-form textarea {
        background-color: #262626;
    }
}