.project_category_pc {
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    overflow: hidden;
}

.project_category_pc .options .active {
    background-color: lightseagreen;
}

.project_category_pc .options button {
    text-align: center;
    width: 100%;
    padding: 17px 0;
    border-radius: 20px;
    transition: all ease-out 0.3s;
}

.project_category_pc .options button:hover {
    background-color: rgba(10, 232, 221, 0.231);
}

.project_category_pc .options button:focus {
    background-color: lightseagreen;
}

.project_category_mobile {
    width: 100%;
    display: none;
}

.project_category_mobile select {
    width: 100%;
    font-size: 16px;
    padding: 6px 13px;
    border-radius: 10px;
    outline: none;
}

.project_category_mobile .darkSelector select {
    background-color: white;
    color: black;
}

/* ***********************************media query************************************** */
@media (max-width:880px) {
    .project_category_pc {
        display: none;
    }

    .project_category_mobile {
        display: block;
    }
}