.project_category_pc {
    box-shadow: 2px 5px 20px white;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    overflow: hidden;
}

.project_category_pc button {
    text-align: center;
    width: 100%;
    padding: 17px 0;
    border-radius: 20px;
    transition: all 0.3s linear
}

.project_category_pc button:hover {
    background-color: rgba(255, 255, 255, 0.394);
}

.project_category_pc button:focus {
    background-color: rgba(255, 255, 255, 0.394);
}

.active {
    background-color: rgba(255, 255, 255, 0.394);
}

.project_category_mobile {
    width: 100%;
    display: none;
}

.project_category_mobile select {
    width: 100%;
    color: black;
    font-size: 16px;
    padding: 6px 13px;
    border-radius: 10px;
}

/* ***********************************media query************************************** */
@media (max-width:880px) {
    .project_category_pc {
        display: none;
    }

    .project_category_mobile {
        display: block;
    }
}