.project_levels{
    height: 100%;
    width: 100%;
}
.project_levels select {
    font-size: 16px;
    padding: 6px 13px;
    width: 100%;
    /* appearance: none;
    -webkit-appearance: none; */
    /* for older browsers */
    border-radius: 10px;
}