.home_container {
    height: 100vh;
    width: 100%;
    position: relative;
}

/* .home_container::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.37);
} */

.home_container::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background: linear-gradient(to top, black, transparent);
}

.home_container video {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -10;
    opacity: .6;
}

.home_container .content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_container .content .text {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.home_container .content .text>div {
    width: 60%;
}

.home_container .content .text h1 {
    font-size: 5rem;
    font-family: gilroy;
    font-weight: bolder;
    color: var(--main-color);
}

.home_container .content .text h2 {
    font-size: 40px;
    font-family: gilroy;
}

.home_container .content .text p {
    font-size: 18px;
    font-weight: 100;
}

.home_container .content .text .buttons {
    margin-top: 35px;
    display: flex;
    gap: 20px;
    font-family: gilroy;
    font-size: 20px;
}

.home_container .content .text .icons {
    margin-top: 20px;
    font-size: 37px;
    display: flex;
    gap: 20px;
}

.home_container .content .image {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.home_container .content img {
    width: 65%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    border-end-end-radius: 50%;
}

/* *************************************************************media query **************************************** */
@media (max-width:1470px) {
    .home_container {
        height: 100vh;
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    .home_container .content {
        flex-direction: column-reverse;
        gap: 0;
        margin-top: 2rem;
    }

    .home_container .content .text>div {
        width: 100%;
    }

    .home_container .content .image {
        width: 60%;
        justify-content: flex-start;
    }
    .home_container .content .image img{
        width: 15rem;
    }
}

@media (max-width:880px) {
    .home_container {
        padding-top: 8rem;
        padding-bottom: 5rem;
    }

    .home_container .content {
        gap: 5rem;
    }

    .home_container::after {
        display: none;
    }

    /* .home_container video {
        display: none;
    } */

    .home_container .content .image {
        width: 80%;
    }

    .home_container .content .text {
        width: 80%;
    }

    .home_container .content .text h1 {
        font-size: 3rem;
    }

    .home_container .content .text h2 {
        font-size: 20px;
    }

    .home_container .content .text p {
        font-size: 15px;
    }

    .home_container .content .text .buttons {
        display: none;
    }

    .home_container .content .text .icons {
        margin-top: 3.5rem;
    }
}